.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-blend-mode: hue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #050505;
    display:flow-root;
    transition: 0.3s;
}

.nav a:hover {
    color: #e73912;
    background-color: cornsilk;
    border-radius: 50px;
}

.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}